<h1>Home</h1>
<form  method="GET" action="/search">
    City: <input type="text" name="city" id="" placeholder="city">
   State: <input type="text" name="state" id="" placeholder="state">
    <button type="submit">Submit </button>
</form>


<div>   <a href="/search/fave">Favorite</a>   </div>